body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.signheader{
    background-color: black;
    height: 30px;
    width: 100%;text-align: center;
   

}
.fas ,.far{
    color: #2FDAB8;
    margin-top: 8px;
    font-size: 14px;
    padding-left: 20px;
    
}
.i{
    color: white;
    font-weight: 200;
    padding-left: 5px;
    text-transform: capitalize;
    border-right: 1px solid rgba(255, 255, 255, 0.658);
    padding-right: 170px;
}
.search-box{
    width: 100%;
    height: 100px;
    display: flex;
}
#search{
    margin-left: 70px;
    margin-top: 20px;
    padding: 12px 10px;
    color: #848484;
    font-size: 16px;
    border: 1px solid #ddd;
    letter-spacing: 1px;
}
.fa-search{
    background: #2FDAB8;
    color: white;
    padding: 13px;
}
.logo{
    margin-left: 50px;
}
.icon{
    margin-top: 30px;
    margin-left: 230px;
    font-size: 20px;
}
.fa-cart-arrow-down{
    color: black;
    background: #2FDAB8;
    padding: 13px;
}
.nav-header{
    height: 60px;
    text-align: center;
    background-color: black;
}
.nav li {
    padding-top: 25px;
    float: left;
    list-style-type: none;
    margin-left:0px;
    bottom: -10px;
    transition: 0.5s;

}
  .nav li a{
      padding: 12px 14px;
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
    .nav li a:hover{
        border-bottom: 3px solid #2FDAB8;
    }
.nav-header .nav ul:first-child{
    margin-left: 100px;
}
.cart{
    float: left;
    width: 1200px;
    height: 400px;
}
.cart img{
    margin-top: 90px;
    border: 2px solid whitesmoke;
}
.button{
    background-color: #2FDAB8;
    color: white;
    padding: 9px 40px;
    border: none;
    margin-top: 15px;
}
.button a{
    color: white;
    text-decoration:none;
}

   