body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.signheader{
    background-color: black;
    height: 30px;
    width: 100%;text-align: center;
   

}
.fas ,.far{
    color: #2FDAB8;
    margin-top: 8px;
    font-size: 14px;
    padding-left: 20px;
    
}
.i{
    color: white;
    font-weight: 200;
    padding-left: 5px;
    text-transform: capitalize;
    border-right: 1px solid rgba(255, 255, 255, 0.658);
    padding-right: 170px;
}
.search-box{
    width: 100%;
    height: 100px;
    display: flex;
}
#search{
    margin-left: 70px;
    margin-top: 20px;
    padding: 12px 10px;
    color: #848484;
    font-size: 16px;
    border: 1px solid #ddd;
    letter-spacing: 1px;
}
.fa-search{
    background: #2FDAB8;
    color: white;
    padding: 13px;
}
.logo{
    margin-left: 50px;
}
.icon{
    margin-top: 30px;
    margin-left: 230px;
    font-size: 20px;
}
.fa-cart-arrow-down{
    color: black;
    background: #2FDAB8;
    padding: 13px;
}
.nav-header{
    height: 60px;
    text-align: center;
    background-color: black;
}
.nav li {
    padding-top: 25px;
    float: left;
    list-style-type: none;
    margin-left:0px;
    bottom: -10px;
    transition: 0.5s;

}
  .nav li a{
      padding: 12px 14px;
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
    .nav li a:hover{
        border-bottom: 3px solid #2FDAB8;
    }
.nav-header .nav ul:first-child{
    margin-left: 100px;
}
.cover-pic{
    width: 100%;
    height: 400px;
    background: url("images/cover-pic.jpg") no-repeat;

}
.cover-pic .text{
   
    font-weight:700;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 130px;
    font-size: 1.4em;
    letter-spacing: 5px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}
.s{
    color: #2FDAB8;
}
.cover-pic .text p{
    color:rgba(255, 166, 0, 0.979); 
    letter-spacing: 8px;
} 
.text .btn{
    background-color: #2FDAB8;
    color: white;
    padding: 9px 18px;
    text-decoration: none;
    border: none;
    letter-spacing: 3px;
}
.btn:hover{
    border: 3px solid #2FDAB8;
    background-color: #ebe5e500;

}
.clothes{
    margin: 70px 0;
}
.clothes img{
    margin-left: 20px;
}
.trend img{
    margin-left: 10px;
}
.arrivals pre{
    margin: 40px 0;
    font-weight: bold;
    font-size: 18px;
}
.menarrivals{
float: left;
margin-right: 40px;
height: 400px;
width: 240px;
background-color: rgb(252, 247, 238);
border-radius: 5px;
}
.button{
    background-color: #2FDAB8;
    color: white;
    padding: 9px 40px;
    text-decoration: none;
    border: none;
    margin-top: 15px;
}
.button a{
    color: white;
    text-decoration: none;
}
.arrival-bg{
    width:100%;
    height:450px;
}
.arrival-item{
    height: 450px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.menarrivals img{
    margin-top: 50px;
}
.footerimg{
    width: 100%;
    height: 250px;
    background: url("images/footer.jpg");
}
.footerimg p{
    font-weight:700;
    color: white;
    text-align: center;
    margin: 25px auto;
    padding-top: 130px;
    font-size: 25px;
}
.sp{
    color: black;
}
/*footer */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
      margin-top: 20px;
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }